.site-footer {
  background: black;
  color:white;
}

/* Here references to the footer function, which located at the bottom of the page, and the background change the background color, the color change the text color */

div.background {
    background-color:white;
    color:white;
    margin: 2px 0 20px 0;
    padding: 20px;
}

/* Here references to the division, all the color is white in order to present the text clearly and without other obstacles. */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Success! */

li {
    float: left;
}

/* here use the float to set the navigation to bar start at the left side */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* here set the size of the nagivation bar and hide its boarder */

li a:hover {
    background-color: #111;
}

/* here it set the background color of the navigation bar to black  */

.active{
    background-color:rgb(255,0,0)
}

/* here the class active references to the navigation bar, in which the background color will be red if it is on one of the page */

* {
    box-sizing: border-box;
}

.box1 {
   	-webkit-column-width: 300px;
   	-moz-column-width: 300px;
   	column-width: 300px;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

/* here have a class named box1. It create many columes and the spaces between them is 4 */

.box2 {
	-webkit-column-width: 50px;
	-moz-column-width: 50px;
	column-width: 50px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

/* here have a class named box2. It create many columes and the spaces between them is 3 */

.box3 {
	-webkit-column-width: 250px;
	-moz-column-width: 250px;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
    column-width: 250px;
    
}

/* here have a class named box3. It create many columes and the spaces between them is 5 */
